.changelog_addedLayer_prologue{
    color: #2ECC71;
    text-shadow: #2ECC71 0 0 10px;
}
.changelog_addedLayer_vvvvvv{
    color: #aab7b8;
    text-shadow: #aab7b8 0 0 10px;
}
.changelog_newVersion{
    color: #ffffff;
    text-shadow: #ffffff 0 0 10px;
}